/* Reset margins, paddings and box-sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset body */
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #fff;
  color: inherit;
}

/* Reset lists */
ul, ol {
  list-style: none;
}

/* Reset links */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset images */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Reset forms */
input, button, textarea, select {
  font: inherit;
  color: inherit;
}
